.venv/
.env
backupv1/
backupv2/
data/
misc/
results/
results.zip

*.docx
*.pdf

.ipynb_checkpoints/
.DS_Store
__pycache__/
*.pyc

paris_airbnb_analysis_production_final_backup.ipynb
paris_airbnb_analysis.ipynb
paris_airbnb_llm_challenge.md